<!-- Begin Page Content -->
<!-- Content Row -->
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <a href="/course/newCourse" class="btn btn-primary h5 mb-0 font-weight-bold">Novo Curso</a>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total de Cursos</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${#lists.size(courseList)}"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-people-group fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Cursos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Carga Horária</th>
                    <th>Entidade</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nome</th>
                    <th>Carga Horária</th>
                    <th>Entidade</th>
                    <th>Acão</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="course : ${courseList}">
                    <td th:text="${course.name}">Tiger Nixon</td>
                    <td th:text="${course.workload}">Tiger Nixon</td>
                    <td th:text="${course.entity}">Tiger Nixon</td>
                    <td >
                        <a class="btn btn-warning" th:href="@{/course/courseProfile/{uuid} (uuid=${course.uuid})}">Editar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->