  <!-- Main page content-->
  <div class="container-xl px-4 mt-4">
    <!-- Knowledge base home header option-->
    <header class="card shadow">
      <div class="card-body px-5 pt-5 pb-0">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6">
            <h1 class="text-primary">SEMCITEC</h1>
            <p class="lead mb-4">Secretaria Municipal de Ciência e Tecnologia de Coroatá</p>
            <div class="shadow rounded">
              <div class="input-group input-group-joined input-group-joined-xl border-0">
                <input class="form-control me-0" type="text" placeholder="Procurar..." aria-label="Search" autofocus="">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
            </div>
          </div>
          <div class="col-lg-4"><img class="img-fluid" src="/img/problem-solving.svg"></div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <nav class="nav nav-underline nav-fill">
              <a class="nav-link" aria-current="page" href="#">Active</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </nav>
          </div>
        </div>

      </div>
    </header>
    <h4 class="mb-0 mt-5">Categorias Principais</h4>
    <hr class="mt-2 mb-4">
    <!-- Knowledge base main category card 1-->

    <a href="/" class="card mb-4 py-4 border-bottom-primary shadow text-decoration-none growUp">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto pr-3">
            <i class="fa-solid fa-a fa-3x text-gray-300"></i>
          </div>
          <div class="col pl-3 border-start">
            <h5 class="card-title text-primary mb-2">Getting Started</h5>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span>3</span>
              <span class="text-xs"> Total</span></div>
          </div>
        </div>
      </div>
    </a>

    <a href="#" class="card mb-4 py-4 border-bottom-warning shadow text-decoration-none growUp">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto pr-3">
            <i class="fa-solid fa-b fa-3x text-gray-300"></i>
          </div>
          <div class="col pl-3 border-start">
            <h5 class="card-title text-primary mb-2">Getting Started</h5>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span>3</span>
              <span class="text-xs"> Total</span></div>
          </div>
        </div>
      </div>
    </a>

    <a href="#" class="card mb-4 py-4 border-bottom-danger text-decoration-none shadow growUp">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col-auto pr-3">
            <i class="fa-solid fa-c fa-3x text-gray-300"></i>
          </div>
          <div class="col pl-3 border-start">
            <h5 class="card-title text-primary mb-2">Getting Started</h5>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <span>3</span>
              <span class="text-xs"> Total</span></div>
          </div>
        </div>
      </div>
    </a>

    <h4 class="mb-0 mt-5">Outros Tópicos</h4>
    <hr class="mt-2 mb-4">
    <div class="row">

      <div class="col-lg-4 mb-4">
        <!-- Knowledge base category ca 1-->
        <a class="card h-100 shadow text-decoration-none growUp" href="#">
          <div class="card-body py-5">
            <h5 class="card-title text-primary mb-2">
              <i class="fa fa-pen"></i>
              Brand Guidelines
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 articles in this category</div></div>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <!-- Knowledge base category ca 1-->
        <a class="card h-100 shadow text-decoration-none growUp" href="#">
          <div class="card-body py-5">
            <h5 class="card-title text-primary mb-2">
              <i class="fa fa-pen"></i>
              Brand Guidelines
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 articles in this category</div></div>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <!-- Knowledge base category ca 1-->
        <a class="card h-100 shadow text-decoration-none growUp" href="#">
          <div class="card-body py-5">
            <h5 class="card-title text-primary mb-2">
              <i class="fa fa-pen"></i>
              Brand Guidelines
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 articles in this category</div></div>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <!-- Knowledge base category ca 1-->
        <a class="card h-100 shadow text-decoration-none growUp" href="#">
          <div class="card-body py-5">
            <h5 class="card-title text-primary mb-2">
              <i class="fa fa-pen"></i>
              Brand Guidelines
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 articles in this category</div></div>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <!-- Knowledge base category ca 1-->
        <a class="card h-100 shadow text-decoration-none growUp" href="#">
          <div class="card-body py-5">
            <h5 class="card-title text-primary mb-2">
              <i class="fa fa-pen"></i>
              Brand Guidelines
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 articles in this category</div></div>
        </a>
      </div>
      <div class="col-lg-4 mb-4">
        <!-- Knowledge base category ca 1-->
        <a class="card h-100 shadow text-decoration-none growUp" href="#">
          <div class="card-body py-5">
            <h5 class="card-title text-primary mb-2">
              <i class="fa fa-pen"></i>
              Brand Guidelines
            </h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="card-footer"><div class="small text-muted">3 articles in this category</div></div>
        </a>
      </div>

    </div>
  </div>