<!-- Begin Page Content -->
<!-- DataTales Example -->
<div class="card mb-4 shadow">
    <div class="card-header">Novo funcionário</div>
    <div class="card-body">

        <form method="post" enctype="multipart/form-data" th:action="@{/user/saveUser}" id="inputValidation">
            <!-- Form Group (username)-->
            <div class="row gx-3 mb-3">
                <div class="col-md-6">
                    <label class="small mb-1" for="inputUsername">Nome de usuário (Nome usado para entrar no sistema)</label>
                    <input class="form-control border-warning" id="inputUsername" type="text" name="username" placeholder="Digite seu nome de usuário" required>
                </div>
                <div class="col-md-6">
                    <label class="small mb-1" for="inputPassword">Nome de usuário (Nome usado para entrar no sistema)</label>
                    <input class="form-control border-warning" id="inputPassword" type="password" name="password" placeholder="Digite sua senha" required>
                </div>
            </div>

            <p class="small mb-1" >Escolha o tipo de usuário</p>

            <div class="border border-warning rounded p-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="flexRadioDefault1" value="USER" checked>
                    <label class="form-check-label" for="flexRadioDefault1">Padrão</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="flexRadioDefault2" value="ADMIN">
                    <label class="form-check-label" for="flexRadioDefault2">Administrador</label>
                </div>
            </div>

            <hr>

            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <!-- Form Group (first name)-->
                <div class="col-md-12">
                    <label class="small mb-1" for="inputFirstName">Nome completo</label>
                    <input class="form-control" id="inputFirstName" type="text" name="name" placeholder="Digite seu nome" required>
                </div>
            </div>
            <!-- Form Row        -->
            <div class="row gx-3 mb-3">
                <!-- Form Group (organization name)-->
                <div class="col-md-4">
                    <label class="small mb-1" for="inputCpf">CPF</label>
                    <input class="form-control" id="inputCpf" type="text" name="cpf" placeholder="Digite seu cpf" maxlength="14" onkeypress="formatter('###.###.###-##', this);" required>
                    <span id="cpfError" class="text-danger"></span>
                </div>
                <!-- Form Group (birthday)-->
                <div class="col-md-2">
                    <label class="small mb-1" for="inputBirthday">Nascimento</label>
                    <input class="form-control" id="inputBirthday" type="date" name="birthday" placeholder="Digite sua data de nascimento" >
                </div>
                <div class="col-md-2">
                    <label class="small mb-1" for="inputGender">Gênero</label>
                    <select class="form-control" id="inputGender" name="gender" aria-label="Floating label select example">
                        <option value="masculino" selected>Masculino</option>
                        <option value="feminino">Feminino</option>
                        <option value="outro">Outro</option>
                    </select>
                </div>
                <!-- Form Group (organization name)-->
                <div class="col-md-4">
                    <label class="small mb-1" for="inputCargo">Cargo</label>
                    <input class="form-control" id="inputCargo" type="text" name="position" placeholder="Digite seu cargo" >
                </div>
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
                <!-- Form Group (email address)-->
                <div class="col-md-8">
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    <input class="form-control" id="inputEmailAddress" type="email" name="email" placeholder="Digite seu e-mail" >
                </div>
                <!-- Form Group (organization name)-->
                <div class="col-md-4">
                    <label class="small mb-1" for="inputMatricula">Matrícula</label>
                    <input class="form-control" id="inputMatricula" type="text" name="matricula" placeholder="Digite sua matrícula" >
                </div>
            </div>
            <div class="row gx-3 mb-3">
                <!-- Form Group (phone number)-->
                <div class="col-md-4">
                    <label class="small mb-1" for="inputPhone1">Telefone 1</label>
                    <input class="form-control" id="inputPhone1" type="tel" name="phone1" placeholder="Digite seu telefone" maxlength="14" onkeypress="formatter('## # ####-####', this);">
                </div>
                <!-- Form Group (phone number)-->
                <div class="col-md-4">
                    <label class="small mb-1" for="inputPhone2">Telefone 2</label>
                    <input class="form-control" id="inputPhone2" type="tel" name="phone2" placeholder="Digite seu telefone" maxlength="14" onkeypress="formatter('## # ####-####', this);">
                </div>
                <!-- Form Group (phone number)-->
                <div class="col-md-4">
                    <label class="small mb-1" for="inputSchedule">Expediente</label>
                    <input class="form-control" id="inputSchedule" type="text" name="work_schedule" placeholder="Expediente" >
                </div>
            </div>

            <p class="small mb-1" >Endereço</p>
            <div class="row gx-3 mb-3">
                <!-- Form Group (location)-->
                <div class="col-md-6">
                    <label class="small mb-1" for="inputStreet">Rua</label>
                    <input class="form-control" id="inputStreet" type="text" name="street" placeholder="Rua" >
                </div>
                <div class="col-md-2">
                    <label class="small mb-1" for="inputHouseNumber">Número</label>
                    <input class="form-control" id="inputHouseNumber" type="text" name="houseNumber" placeholder="Número da casa" >
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="inputNeighborhood">Bairro</label>
                    <input class="form-control" id="inputNeighborhood" type="text" name="neighborhood" placeholder="Bairro" >
                </div>
                <div class="col-md-5">
                    <label class="small mb-1" for="inputCity">Cidade</label>
                    <input class="form-control" id="inputCity" type="text" name="city" placeholder="Cidade" >
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="floatingSelectState">Estado</label>
                    <select class="form-control" id="floatingSelectState" name="state" aria-label="Floating label select example">
                        <option th:each="state : ${states}"
                                th:value="${state.key}"
                                th:text="${state.value}"
                                th:selected="${state.key == 'MA'}"></option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="small mb-1" for="inputZipCode">Cep</label>
                    <input class="form-control" id="inputZipCode" type="text" name="zip_code" placeholder="Cep" maxlength="9" onkeypress="formatter('#####-###', this);">
                </div>
            </div>
            <!-- Form input (Obs)-->
            <div class="mb-3">
                <label class="small mb-1" for="inputDescription">Observação</label>
                <textarea class="form-control" name="obs" id="inputDescription" rows="5"></textarea>
            </div>
            <!-- Form input (file)-->
            <div class="mb-3">
                <label for="formFile" class="form-label">Importe um arquivo em "pdf" para anexar ao usuário</label>
                <input class="form-control" type="file" id="formFile" name="file" value="Escolha o arquivo">
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>
</div>
<!-- /.container-fluid -->